{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" media="screen">
</head>


<body>

    <div class="row">
        <p class="halo col-md-10 offset-md-1 text-center">"Halo, apa kabar?"</p> 
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group col-md-10 offset-md-1 text-center">
            {{form.as_p}}
        </div>
        <input type="submit" id="submit" class="btn btn-primary col-md-10 offset-md-1 text-center" value="Add">
    </form>  

    <div class = "row">
        <p class="my-status col-md-10 offset-md-1 text-center">My Status</p>
    </div>
        
    {% for status in stats %}
        
    <div class="row justify-content-around">
        <div class="col-md-2">
            <b>{{ status.time }}</b>
        </div>
        <div class="col-md-4">
            <p>{{ status.status }}</p>
        </div>
    </div>
    
    {% endfor %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>