body{
    background-color: white;
    color: black;
}

.halo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    font-size: 30px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center; 
}

.my-status{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    font-size: 30px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center; 
}

#geser{
    margin-left: 50px;
}